body{
    text-align: center;
    background-color: black;
}
h1{
    color: white;
    font-size: 40px;
}
table{
    margin: auto;
}
th{
    color: white;
}
input{
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}
button{
    min-width:120px ;
    margin: 20px 10px;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    font-weight: 600;
}
.countdown{
    display: flex;
    justify-content: center;
}
.heading{
    font-size: 18px;
    color: white;
}
.time{
    background-color: black;
    color: white;
    font-size: 100px;
    width: 150px;
    margin: 0px 10px;
}
